body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f3e4ff;
}

h1 {
  text-align: center;
  color: #5d00a7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bills-table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  border: 1px solid #b050ff;
  background-color: #fff;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #5d00a7;
  color: #f3e4ff;
}

.button {
  background-color: #5d00a7;
  color: #f3e4ff;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #5d00a7;
  border-radius: 5px;
  margin-right: 10px;
  text-decoration: none;
}

.button:hover {
  background-color: #b050ff;
  color: #f3e4ff;
}

.delete-btn {
  background-color: #ff0000;
  color: #ffffff;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px 10px;
}

.delete-btn:hover {
  background-color: #d9534f;
}
