* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3e4ff;
}
.Container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin: 44px auto;
  padding: 100px 65px;
  border-radius: 20px;
  width: 1385px;
  height: 100vh;
  background-color: #fff;
}

.product-image img {
  width: 500px;
  overflow: hidden;
}

.product-caption .detail {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  letter-spacing: 0.7px;
  line-height: 1.5;
}

.quantity-input {
  display: flex;
  align-items: center;
}

.quantity-minus,
.quantity-plus {
  padding: 0.5rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  font-weight: 400;
  font-size: 1.5rem;
}

.quantity-input-field {
  border: 2px solid #000;
  border-radius: 5px;
  margin: 0 1.2rem;
  padding: 0.5rem;
  height: 30px;
  text-align: center;
  width: 60px;
}

form .buttons {
  display: flex;
  justify-content: space-around;
}

form .buttons .cart-btn,
.pay-btn {
  color: #fff;
  font-size: 1rem;
  padding: 1rem 8rem;
  background-color: #5d00a7;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}

form .buttons .cart-btn {
  opacity: 0.65;
}
